body{
    background-image: url("../images/middleEarthMap.jpg");
    background-size: 100% ;
    -webkit-user-select: none;
    -moz-user-select: none;     
    -ms-user-select: none;    
    user-select: none;
}  
header{
    background-image: url("../images/towerOfSauron.jpg");
    background-size: 100% 100%;
    color: #d9c147;
    -webkit-text-stroke: 2px black;
    border-bottom: 5px solid rgba(175, 161, 95, 0.781);
}
.row{
    margin-left: 0;
    margin-right: 0;
}
#holder{
    background-image: url("../images/partchment.jpg");
    height: 100%;
}

#startbox{
    width: 98%;
    height: 400px;
}

#q{
    background-color: white;
    margin-bottom: 5px;
}

#a{
    background-color: #d9c147;
    margin : 5px 0px; 
}

#nextbtn{
    background-color: #d9c147;
    margin-left : auto;
    margin-right: auto;
    border: 5px solid #d1b10f;
}

#finalscore{
    color: #d9c147;
    font-size: 200%;
}