body{
    background-image: url("../images/middleEarthMap.jpg");
    background-size: 100% ;
}  
header{
    background-image: url("../images/towerOfSauron.jpg");
    background-size: 100% 100%;
    color: #d9c147;
    -webkit-text-stroke: 2px black;
    border-bottom: 5px solid rgba(175, 161, 95, 0.781);
}
.row{
    margin-left: 0;
    margin-right: 0;
}